/* 1. Use a better box model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Improve text rendering */
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  scroll-behavior: smooth;
}

/* 4. Body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  color: #111827; /* gray-900 */
  width: 75%;
  margin: auto;
}

/* 5. Media elements behave sanely */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
